@font-face {
  font-family: 'skuid-ink';
  src:  url('fonts/skuid-ink.eot?6v9zwg');
  src:  url('fonts/skuid-ink.eot?6v9zwg#iefix') format('embedded-opentype'),
    url('fonts/skuid-ink.ttf?6v9zwg') format('truetype'),
    url('fonts/skuid-ink.woff?6v9zwg') format('woff'),
    url('fonts/skuid-ink.svg?6v9zwg#skuid-ink') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ink-icon-"], [class*=" ink-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'skuid-ink' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ink-icon-action-sequences:before {
  content: "\e900";
}
.ink-icon-actions:before {
  content: "\e901";
}
.ink-icon-add-circle:before {
  content: "\e902";
}
.ink-icon-add-page:before {
  content: "\e903";
}
.ink-icon-add-user:before {
  content: "\e904";
}
.ink-icon-add:before {
  content: "\e905";
}
.ink-icon-anchor-link:before {
  content: "\e906";
}
.ink-icon-announcement:before {
  content: "\e907";
}
.ink-icon-answer:before {
  content: "\e908";
}
.ink-icon-apex:before {
  content: "\e909";
}
.ink-icon-approval:before {
  content: "\e90a";
}
.ink-icon-apps:before {
  content: "\e90b";
}
.ink-icon-arrow-bottom-left:before {
  content: "\e90c";
}
.ink-icon-arrow-bottom-right:before {
  content: "\e90d";
}
.ink-icon-arrow-down:before {
  content: "\e90e";
}
.ink-icon-arrow-left:before {
  content: "\e90f";
}
.ink-icon-arrow-right:before {
  content: "\e910";
}
.ink-icon-arrow-top-left:before {
  content: "\e911";
}
.ink-icon-arrow-top-right:before {
  content: "\e912";
}
.ink-icon-arrow-up:before {
  content: "\e913";
}
.ink-icon-attach:before {
  content: "\e914";
}
.ink-icon-backpack:before {
  content: "\e915";
}
.ink-icon-ban:before {
  content: "\e916";
}
.ink-icon-bold:before {
  content: "\e917";
}
.ink-icon-bookmark:before {
  content: "\e918";
}
.ink-icon-border-all:before {
  content: "\e919";
}
.ink-icon-border-bottom:before {
  content: "\e91a";
}
.ink-icon-border-left:before {
  content: "\e91b";
}
.ink-icon-border-none:before {
  content: "\e91c";
}
.ink-icon-border-right:before {
  content: "\e91d";
}
.ink-icon-border-separate:before {
  content: "\e91e";
}
.ink-icon-border-top:before {
  content: "\e91f";
}
.ink-icon-breadcrumbs:before {
  content: "\e920";
}
.ink-icon-broadcast:before {
  content: "\e921";
}
.ink-icon-brush:before {
  content: "\e922";
}
.ink-icon-bucket:before {
  content: "\e923";
}
.ink-icon-builder:before {
  content: "\e924";
}
.ink-icon-button:before {
  content: "\e925";
}
.ink-icon-call:before {
  content: "\e926";
}
.ink-icon-campaign:before {
  content: "\e927";
}
.ink-icon-caps-lock:before {
  content: "\e928";
}
.ink-icon-cases:before {
  content: "\e929";
}
.ink-icon-center-align-text:before {
  content: "\e92a";
}
.ink-icon-change-record-type:before {
  content: "\e92b";
}
.ink-icon-chart:before {
  content: "\e92c";
}
.ink-icon-chat:before {
  content: "\e92d";
}
.ink-icon-check-checkbox:before {
  content: "\e92e";
}
.ink-icon-checkbox-indeterminate:before {
  content: "\e92f";
}
.ink-icon-checkin:before {
  content: "\e930";
}
.ink-icon-chevron-double:before {
  content: "\e931";
}
.ink-icon-chevron-down:before {
  content: "\e932";
}
.ink-icon-chevron-left:before {
  content: "\e933";
}
.ink-icon-chevron-right:before {
  content: "\e934";
}
.ink-icon-chevron-small-down:before {
  content: "\e935";
}
.ink-icon-chevron-small-left:before {
  content: "\e936";
}
.ink-icon-chevron-small-right:before {
  content: "\e937";
}
.ink-icon-chevron-small-up:before {
  content: "\e938";
}
.ink-icon-chevron-up:before {
  content: "\e939";
}
.ink-icon-choropleth:before {
  content: "\e93a";
}
.ink-icon-circle-close-outline:before {
  content: "\e93b";
}
.ink-icon-circle-close-solid:before {
  content: "\e93c";
}
.ink-icon-clear-styles:before {
  content: "\e93d";
}
.ink-icon-clock:before {
  content: "\e93e";
}
.ink-icon-close:before {
  content: "\e93f";
}
.ink-icon-code-block:before {
  content: "\e940";
}
.ink-icon-comments:before {
  content: "\e941";
}
.ink-icon-company:before {
  content: "\e942";
}
.ink-icon-components:before {
  content: "\e943";
}
.ink-icon-connected-apps:before {
  content: "\e944";
}
.ink-icon-contract:before {
  content: "\e945";
}
.ink-icon-copy_1:before {
  content: "\e946";
}
.ink-icon-copy:before {
  content: "\e947";
}
.ink-icon-crossfilter:before {
  content: "\e948";
}
.ink-icon-css:before {
  content: "\e949";
}
.ink-icon-custom-apps:before {
  content: "\e94a";
}
.ink-icon-custom:before {
  content: "\e94b";
}
.ink-icon-cut:before {
  content: "\e94c";
}
.ink-icon-dash:before {
  content: "\e94d";
}
.ink-icon-database:before {
  content: "\e94e";
}
.ink-icon-day-view:before {
  content: "\e94f";
}
.ink-icon-delete:before {
  content: "\e950";
}
.ink-icon-deprecate:before {
  content: "\e951";
}
.ink-icon-description:before {
  content: "\e952";
}
.ink-icon-desktop:before {
  content: "\e953";
}
.ink-icon-dislike:before {
  content: "\e954";
}
.ink-icon-dock-panel:before {
  content: "\e955";
}
.ink-icon-dots-horizontal:before {
  content: "\e956";
}
.ink-icon-dots-vertical:before {
  content: "\e957";
}
.ink-icon-download:before {
  content: "\e958";
}
.ink-icon-drag-handle:before {
  content: "\e959";
}
.ink-icon-edit-form:before {
  content: "\e95a";
}
.ink-icon-edit-page:before {
  content: "\e95b";
}
.ink-icon-edit:before {
  content: "\e95c";
}
.ink-icon-email:before {
  content: "\e95d";
}
.ink-icon-emoji:before {
  content: "\e95e";
}
.ink-icon-end-call:before {
  content: "\e95f";
}
.ink-icon-erect-window:before {
  content: "\e960";
}
.ink-icon-expand:before {
  content: "\e961";
}
.ink-icon-export-page:before {
  content: "\e962";
}
.ink-icon-fallback:before {
  content: "\e963";
}
.ink-icon-favorite-outline:before {
  content: "\e964";
}
.ink-icon-favorite-solid:before {
  content: "\e965";
}
.ink-icon-feed:before {
  content: "\e966";
}
.ink-icon-filter-list:before {
  content: "\e967";
}
.ink-icon-filter:before {
  content: "\e968";
}
.ink-icon-flow:before {
  content: "\e969";
}
.ink-icon-freeze:before {
  content: "\e96a";
}
.ink-icon-full-width-view:before {
  content: "\e96b";
}
.ink-icon-grid:before {
  content: "\e96c";
}
.ink-icon-hamburger-menu:before {
  content: "\e96d";
}
.ink-icon-heart-outline:before {
  content: "\e96e";
}
.ink-icon-heart-solid:before {
  content: "\e96f";
}
.ink-icon-help:before {
  content: "\e970";
}
.ink-icon-history:before {
  content: "\e971";
}
.ink-icon-home:before {
  content: "\e972";
}
.ink-icon-identity:before {
  content: "\e973";
}
.ink-icon-image:before {
  content: "\e974";
}
.ink-icon-import-page:before {
  content: "\e975";
}
.ink-icon-inbox:before {
  content: "\e976";
}
.ink-icon-indent:before {
  content: "\e977";
}
.ink-icon-info:before {
  content: "\e978";
}
.ink-icon-italic:before {
  content: "\e979";
}
.ink-icon-javascript:before {
  content: "\e97a";
}
.ink-icon-kanban:before {
  content: "\e97b";
}
.ink-icon-keyboard-dismiss:before {
  content: "\e97c";
}
.ink-icon-knowledge:before {
  content: "\e97d";
}
.ink-icon-layers:before {
  content: "\e97e";
}
.ink-icon-layout:before {
  content: "\e97f";
}
.ink-icon-left-align-text:before {
  content: "\e980";
}
.ink-icon-level-up:before {
  content: "\e981";
}
.ink-icon-lightbulb:before {
  content: "\e982";
}
.ink-icon-like:before {
  content: "\e983";
}
.ink-icon-link:before {
  content: "\e984";
}
.ink-icon-list:before {
  content: "\e985";
}
.ink-icon-location:before {
  content: "\e986";
}
.ink-icon-lock:before {
  content: "\e987";
}
.ink-icon-log-a-call:before {
  content: "\e988";
}
.ink-icon-logout:before {
  content: "\e989";
}
.ink-icon-loop:before {
  content: "\e98a";
}
.ink-icon-macros:before {
  content: "\e98b";
}
.ink-icon-magic-wand:before {
  content: "\e98c";
}
.ink-icon-mark-all-as-read:before {
  content: "\e98d";
}
.ink-icon-matrix:before {
  content: "\e98e";
}
.ink-icon-merge-field:before {
  content: "\e98f";
}
.ink-icon-merge:before {
  content: "\e990";
}
.ink-icon-metrics:before {
  content: "\e991";
}
.ink-icon-minimize-window:before {
  content: "\e992";
}
.ink-icon-models:before {
  content: "\e993";
}
.ink-icon-moneybag:before {
  content: "\e994";
}
.ink-icon-monthly-view:before {
  content: "\e995";
}
.ink-icon-move:before {
  content: "\e996";
}
.ink-icon-muted:before {
  content: "\e997";
}
.ink-icon-navigation:before {
  content: "\e998";
}
.ink-icon-new-direct-message:before {
  content: "\e999";
}
.ink-icon-news:before {
  content: "\e99a";
}
.ink-icon-note:before {
  content: "\e99b";
}
.ink-icon-notebook:before {
  content: "\e99c";
}
.ink-icon-notification:before {
  content: "\e99d";
}
.ink-icon-office365:before {
  content: "\e99e";
}
.ink-icon-offline-cached:before {
  content: "\e99f";
}
.ink-icon-offline:before {
  content: "\e9a0";
}
.ink-icon-open-folder:before {
  content: "\e9a1";
}
.ink-icon-open:before {
  content: "\e9a2";
}
.ink-icon-opened-folder:before {
  content: "\e9a3";
}
.ink-icon-outdent:before {
  content: "\e9a4";
}
.ink-icon-overflow:before {
  content: "\e9a5";
}
.ink-icon-package-org:before {
  content: "\e9a6";
}
.ink-icon-package-page:before {
  content: "\e9a7";
}
.ink-icon-package:before {
  content: "\e9a8";
}
.ink-icon-page-title:before {
  content: "\e9a9";
}
.ink-icon-page:before {
  content: "\e9aa";
}
.ink-icon-palette:before {
  content: "\e9ab";
}
.ink-icon-partner:before {
  content: "\e9ac";
}
.ink-icon-paste:before {
  content: "\e9ad";
}
.ink-icon-pause:before {
  content: "\e9ae";
}
.ink-icon-people:before {
  content: "\e9af";
}
.ink-icon-phone-landscape:before {
  content: "\e9b0";
}
.ink-icon-phone-portrait:before {
  content: "\e9b1";
}
.ink-icon-photo:before {
  content: "\e9b2";
}
.ink-icon-picklist:before {
  content: "\e9b3";
}
.ink-icon-pin:before {
  content: "\e9b4";
}
.ink-icon-pinned:before {
  content: "\e9b5";
}
.ink-icon-play:before {
  content: "\e9b6";
}
.ink-icon-power:before {
  content: "\e9b7";
}
.ink-icon-presentation:before {
  content: "\e9b8";
}
.ink-icon-preview:before {
  content: "\e9b9";
}
.ink-icon-print:before {
  content: "\e9ba";
}
.ink-icon-priority:before {
  content: "\e9bb";
}
.ink-icon-process:before {
  content: "\e9bc";
}
.ink-icon-push:before {
  content: "\e9bd";
}
.ink-icon-puzzle:before {
  content: "\e9be";
}
.ink-icon-questions-and-answers:before {
  content: "\e9bf";
}
.ink-icon-quotation-marks:before {
  content: "\e9c0";
}
.ink-icon-record-create:before {
  content: "\e9c1";
}
.ink-icon-record:before {
  content: "\e9c2";
}
.ink-icon-redo:before {
  content: "\e9c3";
}
.ink-icon-refresh:before {
  content: "\e9c4";
}
.ink-icon-remove-circle:before {
  content: "\e9c5";
}
.ink-icon-remove-link:before {
  content: "\e9c6";
}
.ink-icon-remove-page:before {
  content: "\e9c7";
}
.ink-icon-reply-all:before {
  content: "\e9c8";
}
.ink-icon-reply:before {
  content: "\e9c9";
}
.ink-icon-reset-password:before {
  content: "\e9ca";
}
.ink-icon-resource-absence:before {
  content: "\e9cb";
}
.ink-icon-resource-capacity:before {
  content: "\e9cc";
}
.ink-icon-resource-territory:before {
  content: "\e9cd";
}
.ink-icon-responsive-grid:before {
  content: "\e9ce";
}
.ink-icon-retweet:before {
  content: "\e9cf";
}
.ink-icon-rich-text-bulleted-list:before {
  content: "\e9d0";
}
.ink-icon-rich-text-numbered-list:before {
  content: "\e9d1";
}
.ink-icon-right-align-text:before {
  content: "\e9d2";
}
.ink-icon-rows:before {
  content: "\e9d3";
}
.ink-icon-rules:before {
  content: "\e9d4";
}
.ink-icon-salesforce:before {
  content: "\e9d5";
}
.ink-icon-save:before {
  content: "\e9d6";
}
.ink-icon-search:before {
  content: "\e9d7";
}
.ink-icon-settings:before {
  content: "\e9d8";
}
.ink-icon-setup-assistant-guide:before {
  content: "\e9d9";
}
.ink-icon-setup:before {
  content: "\e9da";
}
.ink-icon-share-post:before {
  content: "\e9db";
}
.ink-icon-share:before {
  content: "\e9dc";
}
.ink-icon-shield:before {
  content: "\e9dd";
}
.ink-icon-shuffle:before {
  content: "\e9de";
}
.ink-icon-side-list:before {
  content: "\e9df";
}
.ink-icon-signpost:before {
  content: "\e9e0";
}
.ink-icon-skip-back:before {
  content: "\e9e1";
}
.ink-icon-skip-forward:before {
  content: "\e9e2";
}
.ink-icon-sms:before {
  content: "\e9e3";
}
.ink-icon-snippet:before {
  content: "\e9e4";
}
.ink-icon-social-share:before {
  content: "\e9e5";
}
.ink-icon-sort:before {
  content: "\e9e6";
}
.ink-icon-standard-objects:before {
  content: "\e9e7";
}
.ink-icon-stepper:before {
  content: "\e9e8";
}
.ink-icon-stop:before {
  content: "\e9e9";
}
.ink-icon-strikethrough:before {
  content: "\e9ea";
}
.ink-icon-styles:before {
  content: "\e9eb";
}
.ink-icon-subtract:before {
  content: "\e9ec";
}
.ink-icon-success:before {
  content: "\e9ed";
}
.ink-icon-summary-detail:before {
  content: "\e9ee";
}
.ink-icon-summary:before {
  content: "\e9ef";
}
.ink-icon-sync:before {
  content: "\e9f0";
}
.ink-icon-table:before {
  content: "\e9f1";
}
.ink-icon-tablet-landscape:before {
  content: "\e9f2";
}
.ink-icon-tablet-portrait:before {
  content: "\e9f3";
}
.ink-icon-tabset:before {
  content: "\e9f4";
}
.ink-icon-task:before {
  content: "\e9f5";
}
.ink-icon-text-background-color:before {
  content: "\e9f6";
}
.ink-icon-text-color:before {
  content: "\e9f7";
}
.ink-icon-thunder:before {
  content: "\e9f8";
}
.ink-icon-tile-card-list:before {
  content: "\e9f9";
}
.ink-icon-topic:before {
  content: "\e9fa";
}
.ink-icon-touch-action:before {
  content: "\e9fb";
}
.ink-icon-transfer:before {
  content: "\e9fc";
}
.ink-icon-trending:before {
  content: "\e9fd";
}
.ink-icon-turn-off-notifications:before {
  content: "\e9fe";
}
.ink-icon-type-tool:before {
  content: "\e9ff";
}
.ink-icon-undeprecate:before {
  content: "\ea00";
}
.ink-icon-underline:before {
  content: "\ea01";
}
.ink-icon-undo:before {
  content: "\ea02";
}
.ink-icon-unlock:before {
  content: "\ea03";
}
.ink-icon-unmuted:before {
  content: "\ea04";
}
.ink-icon-upload:before {
  content: "\ea05";
}
.ink-icon-user-change:before {
  content: "\ea06";
}
.ink-icon-user-remove:before {
  content: "\ea07";
}
.ink-icon-user-role:before {
  content: "\ea08";
}
.ink-icon-user:before {
  content: "\ea09";
}
.ink-icon-video:before {
  content: "\ea0a";
}
.ink-icon-voicemail:before {
  content: "\ea0b";
}
.ink-icon-volume-high:before {
  content: "\ea0c";
}
.ink-icon-volume-low:before {
  content: "\ea0d";
}
.ink-icon-volume-off:before {
  content: "\ea0e";
}
.ink-icon-warning:before {
  content: "\ea0f";
}
.ink-icon-weekly-view:before {
  content: "\ea10";
}
.ink-icon-wifi:before {
  content: "\ea11";
}
.ink-icon-work-order-type:before {
  content: "\ea12";
}
.ink-icon-world:before {
  content: "\ea13";
}
.ink-icon-wrapper:before {
  content: "\ea14";
}
.ink-icon-yubi-key:before {
  content: "\ea15";
}
.ink-icon-zoom-in:before {
  content: "\ea16";
}
.ink-icon-zoom-out:before {
  content: "\ea17";
}